.sidebar{
    background-color: #f3f3f3;
    flex: 20;
    border-radius: 8px;
 
    padding: 20px
}
.content{
    flex: 80;
}
.container-manage {
    height: 100vh;
}
.navbar--button{
    padding: 0px 5px;
}
.navbar--button:hover {
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.5s ease;
    border-radius: 8px;
    color: #8a49e5;
}
.navbar--button .button--name p,
.navbar--button .button--icon i{
    font-weight: 700;
    color: #4f4f4f;
}

.navbar--button:hover.navbar--button .button--name p {
    color: #8a49e5;
}
.navbar--button:hover.navbar--button .button--icon i {
    color: #8a49e5;
}

.navbar--button__active{
    background-color: #fff;
    border-radius: 8px;
    color: #8a49e5;
}