.home-row{
    display:flex;
}
.home {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.function-card {
    margin: 30px 15px;
    height: 164px;
    min-width: 250px;

  
    
    
}
.function-card:hover{
    cursor: pointer;
    
}