<router-outlet></router-outlet>
<p-dialog header="Màn hình khoá" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw'  }" [draggable]="false"
  [resizable]="false" [closable]="false">
  <div class="dailog-form" style="width: 100%;">
    <h3>Đăng nhập lại để sử dụng!</h3>
    <form>
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText style="width: 100%;">
        <label for="float-input">Username</label>
      </span>
      <span class="p-float-label">
        <input id="float-input" type="password" pPassword style="width: 100%;">

        <label for="float-input">Password</label>
      </span>
      <span class="form-control">
        <button pButton type="button" label="Đăng nhập" style="width: 100%;"></button>
      </span>
    </form>
  </div>

</p-dialog>