@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto:wght@300&display=swap');
.table-name{
    font-family: 'Roboto', sans-serif;
}
.container-tables-title{
    font-family: 'Merriweather', serif;
  
}

:host ::ng-deep .p-dataview-emptymessage {
  display:none;
}

:host ::ng-deep  .p-dataview-content{

    background-color: #f5f9ff;
}
.tables-in-serving {
    padding:0px 10px;
    overflow: auto; /* Ensure the scrollbar appears only when needed */
    width: 100%; /* Adjust the width as per your requirements */
    height: calc(100vh - 65px ); 
   
  }
  .tables-in-serving::-webkit-scrollbar {
    width: 8px; /* Customize the width of the scrollbar */
  }
  
  .tables-in-serving::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the background color of the scrollbar track */
  }
  
  .tables-in-serving::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #007ad9; /* Set the background color of the scrollbar thumb */
  }
  
  .tables-in-serving::-webkit-scrollbar-thumb:hover {
    background-color: #007ad9; /* Set the background color of the scrollbar thumb on hover */
  }